  .divForm {
    background-color: #92C0E9;
    border-radius: 10px;
    border: 1px solid #395395;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    opacity: 0.8;
  }
  
  .btnRechercher {
    margin-top: 30px;
    opacity: 1;
  }

  /* Style pour le footer */
.custom-footer {
  background-color: #ffffff;
  border-top: 1px solid #395395;
  color: #395395;
  position: fixed; /* Positionnement absolu par rapport à son parent relatif */
  bottom: 0; /* Colle le footer en bas de son parent */
  width: 100%;
 
}
