.tableListeTicket th{
    background-color: #4788C3;
    border: 2px solid #395395;
}

.tableListeTicket td{
    background-color: #92C0E9;
    border: 1px solid #ffffff;   
}

a{
    color: #395395;
    text-decoration: underline;
}
a:hover{
    color: #ffffff;
    text-decoration: underline;
}

h2 {
    text-align: center;
}