* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: Calibri, sans-serif;
  margin: auto;
  padding: 2%;
  color: #395395;
  min-height: calc(100vh - 50px); /* 50px est la hauteur de votre footer */
  overflow-y: auto; /* Ajoute une barre de défilement si le contenu dépasse la hauteur de la fenêtre */
  position: relative; /* Définit le positionnement relatif pour les enfants positionnés */
}


main::after {
  margin-top: 10%;
  margin-left: 15%;
  content: "";
  background-image: url('../images/MenuizMan.png');
  background-size: cover;
  background-position:fixed;
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3; 
  z-index: -2; 
}


.custom-header {
  background-color: #ffffff;
  border-bottom: 1px solid #395395;
  color: #395395;
  max-height: 90px;
  
}

.custom-title{
  margin-top: 5%;
  color: #395395;
  opacity:2; 
}
/* Style pour le footer */
.custom-footer {
  background-color: #ffffff;
  border-top: 1px solid #395395;
  color: #395395;
  position: fixed; /* Positionnement absolu par rapport à son parent relatif */
  bottom: 0; /* Colle le footer en bas de son parent */
  width: 100%;
 
}

.custom-container {
  background-color: #92C0E9;
  border-radius: 2%;
  border: 1px solid #395395;
  padding: 50px;
  padding-top: 10%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  opacity: 0.9; 

min-width: 250px;
  
}

.custom-input {
  border: 1px solid #395395;
  border-radius: 2px;
  background-color: #ffffff;
  
}

.custom-submit-btn {

background-color: #395395;
border: 2px solid #395395;
color: #ffffff;
box-shadow: 2px 2px 5px #395395;
border-radius: 10px;
margin-top: 10px;
min-width: 50%;
}

.custom-submit-btn:hover {
background-color: #ffffff;
border: 2px solid #ffffff;
color: #395395;
}
.custom-icon {
  font-size: 24px;
  color: #395395;
}

.custom-logo {

  padding-top: 15px;

}

